@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply bg-gray-100;
  }

  .btn {
    @apply py-2
            px-3
            md:py-3 md:px-5
            md:font-semibold
            rounded-lg;
  }
  .doc-list {
    @apply container mt-5;
    min-height: calc(100vh - 200px);
  }
}
